
@import '../../styles/_variables';

.grid {
  display: grid;
  grid-template-columns: repeat(10, 9%);
  grid-template-rows: repeat(10, 9%);
  grid-gap: 1%;
  width: $grid-size;
  height: $grid-size;
  min-width: $min-grid-size;
  min-height: $min-grid-size;
  background-color: #bbada0;
  padding: 5px 0 0 5px;
  border-radius: 6px;;
}

@include smaller($mobile-threshold) {
  .grid {
    width: $mobile-grid-size;
    height: $mobile-grid-size;
  }
}
