@import '../../styles/_variables';
@import '../../styles/_mixins';

$cell-color: #eee4da;
$completed-color: #f3b278;
$active-color: #f3b278;
$cliktable-color: #f7ddae;
$cell-border-radius: 3px;

.cell {
  background: rgba($cell-color, .35);
  border-radius: $cell-border-radius;
  transition: background 0.3s ease;
  &:hover {
    background: gray;
  }
}

.pointer {
  cursor: pointer;
}

.filled {
  background: $cell-color;
}

.completed {
  background: $completed-color;
}

.active {
  background: $active-color;
}

.clickable {
  background: $cliktable-color;
  @include animation('jiggle 0.2s infinite');
  cursor: pointer;
}
