@import './styles/_variables';
@import './styles/_mixins';

:global { @import './styles/sweetAlert.scss'; }

body, html {
  background: #faf8ef;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: $font-color;
}

@include smaller($mobile-threshold) {
  body {
    margin-top: 20px;
  }
}
