@import '../../styles/_variables';
@import '../../styles/_mixins';

.container {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  width: $grid-size;
  min-width: $min-grid-size;
  justify-content: space-between;
}

.item {
  background: #bbada0;
  padding: 15px 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
}

.title {
  text-transform: uppercase;
  color: #eee4da;
}

@include smaller($mobile-threshold) {
  .container {
    flex-direction: column;
    width: $mobile-grid-size;
  }
  .item {
    margin-bottom: 15px;
  }
}
